<div class="container my-4">
    <div>
        <div>
            <h1>Alle produkter</h1>
        </div>
        <div class="row mb-4">
            <div class="col-12 mb-2">
                <input type="text" 
                class="form-control" 
                placeholder="Søg efter produkter..." 
                aria-label="Search"/>
                <button class="btn btn-primary">Søg</button>
            </div>
            <div class="col-md-6 col-lg-4"> <!-- Dummy data skal skiftes ud -->
                <select class="form-select mb-2" aria-label="Filter by category">
                    <option selected>Vælg kategori</option>
                    <option value="1">Sofaer</option>
                    <option value="2">Stole</option>
                    <option value="3">Borde</option>
                </select>
                <select class="form-select mb-2" aria-label="Filter by material">
                    <option selected>Vælg Materiale</option>
                    <option value="1">Læder</option>
                    <option value="2">Polyester</option>
                    <option value="3">Stof</option>
                    <option value="4">Træ</option>
                </select>
                <select class="form-select mb-2" aria-label="Filter by colour">
                    <option selected>Vælg Farver</option>
                    <option value="1">Grå</option>
                    <option value="2">Blå</option>
                    <option value="3">Sort</option>
                    <option value="4">Hvid</option>
                    <option value="5">Rød</option>
                    <option value="6">Grøn</option>
                    <option value="7">Gul</option>
                    <option value="8">Brun</option>
                    <option value="9">Lilla</option>
                    <option value="10">Orange</option>
                    <option value="11">Rosa</option>
                    <option value="12">Turkis</option>
                    <option value="13">Beige</option>
                    <option value="14">Guld</option>
                    <option value="15">Sølv</option>
                    <option value="16">Metallic</option>
                    <option value="17">Pastel</option>
                    <option value="18">Neon</option>
                    <option value="19">Mønstrede</option>
                    <option value="20">Andre</option>
                </select>
                <select class="form-select mb-2" aria-label="Filter by size">
                    <option selected>Vælg Størrelse</option>
                    <option value="1">Sofaer</option>
                    <option value="2">Stole</option>
                    <option value="3">Borde</option>
                </select>
                <select class="form-select mb-2" aria-label="Filter by type">
                    <option selected>Vælg Type</option>
                    <option value="1">Hjørne</option>
                    <option value="2">3-personers</option>
                    <option value="3">2-personers</option>
                    <option value="4">Sofa sæt</option>
                    <option value="5">Chaiselong</option>
                    <option value="6">Modul sofa</option>
                    <option value="7">Sofa med opbevaring</option>
                    <option value="8">Sofa med sovesofa</option>
                </select>
                <select class="form-select mb-2" aria-label="Filter by condition">
                    <option selected>Vælg Ny eller brugt</option>
                    <option value="1">Ny</option>
                    <option value="2">Brugt</option>
                </select>
            </div>
            <div class="row g-4">
                <div class="col-md-6 col-lg-4 mb-4"> <!-- Dummy data skal skiftes ud -->
                    <div class="product-card border border-dark">
                        <div class="product-image">
                            <img src="assets/images/DummySofa.png" alt="Sofa 1" class="w-full h-auto rounded-lg shadow-lg"> 
                        </div>
                        <div class="product-card-details">
                            <div class="product-title">Sofa model</div>
                            <div>Pris</div>
                            <div>Beskrivelse: En komfortabel sofa med moderne design.</div>
                            <div>Materiale: Læder</div>
                            <div>Farve: Grå</div>
                            <div>Størrelse: 3-personers</div>
                            <div>Type: Hjørne</div>
                            <div>Ny eller brugt: Ny</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>