<div class="container my-5">
    <div class="row d-flex flex-column-reverse flex-md-row">
        <div class="col-md-8 col-12">
            <div class="row mt-2">
                <div class="col">
                    <div class="row">
                        <!--Image-->
                        <div class="col-md-12 mb-3">
                            <div class="card">
                                <img src="assets/images/DummySofa.png" class="card-img-top" alt="Sofa">
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
    <!--Details-->
    <div class="col p-0">
        <h3>Title</h3>
        <h4>Beskrivelse</h4>
        <p>Beskrivelse Dummy sofa</p>
    </div>
    <div class="row">
        <ul>
            <li class="col-md-3 col-6">
                <strong>Pris:</strong> 5000 kr
            </li>
            <li class="col-md-3 col-6">
                <strong>Materiale:</strong> Læder
            </li>
            <li class="col-md-3 col-6">
                <strong>Farve:</strong> Grå
            </li>
            <li class="col-md-3 col-6">
                <strong>Størrelse:</strong> 3-personers
            </li>
            <li class="col-md-3 col-6">
                <strong>Type:</strong> Hjørne
            </li>
            <li class="col-md-3 col-6">
                <strong>Ny eller brugt:</strong> Ny
            </li>
        </ul>
        <Button class="btn btn-primary">Køb</Button>
    </div>
</div>