<div class="container my-5">
    <div class="row d-flex flex-column-reverse flex-md-row">
        <div class="col-md-8 col-12">
            <div class="row mt-2">
                <div class="col">
                    <div class="row">
                        <!--Image-->
                        <div class="col-md-12 mb-3">
                            <div class="card">
                                <img [src]="product?.images" class="card-img-top" alt="Sofa">
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
    <!--Details-->
    <div class="col p-0">
        <h3>{{product?.title}}</h3>
        <h4>Beskrivelse</h4>
        <p>{{product?.description}}</p>
    </div>
    <div class="row">
        <ul>
            <li class="col-md-3 col-6">
                <strong>Pris:</strong> {{product?.price}} kr
            </li>
            <li class="col-md-3 col-6">
                <strong>Materiale:</strong> {{product?.material}}
            </li>
            <li class="col-md-3 col-6">
                <strong>Farve:</strong> {{product?.colour}}
            </li>
            <li class="col-md-3 col-6">
                <strong>Størrelse:</strong> {{product?.width}}
            </li>
            <li class="col-md-3 col-6">
                <strong>Dybde:</strong> {{product?.depth}}
            </li>
            <li class="col-md-3 col-6">
                <strong>Højde:</strong> {{product?.height}}
            </li>
            <li class="col-md-3 col-6">
                <strong>Type:</strong> {{product?.type}}
            </li>
            <li class="col-md-3 col-6">
                <strong>Ny eller brugt:</strong> {{product?.condition}}
            </li>
        </ul>
        <button class="btn btn-primary" [disabled]="!product?.id" (click)="addToBasket(product!.id)">Læg i kurv</button>
    </div>
</div>
