<div class="container my-4">
    <div>
        <div>
            <h1>Alle produkter</h1>
        </div>
        <div class="row mb-4">
            <div class="search-bar">
                <input type="text" class="form-control" placeholder="Søg efter produkter..." [(ngModel)]="searchQuery" (input)="searchFilteredProducts()" aria-label="Search"/>
            </div>
            <div class="layout">
            <div class="filters-sidebar"> 
            <button [routerLink]="['/productMaking']">Opret dit produkt</button>
                <select class="form-select mb-2" aria-label="Filter by category">
                    <option>Vælg kategori</option>
                    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                </select>
                <select [(ngModel)]="sortSelected" (change)="sortTheProducts()" class="form-select mb-2" aria-label="Filter by price">
                    <option [ngValue]="SortOrder.None">Vælg pris</option>
                    <option [ngValue]="SortOrder.PriceAsc">Laveste pris</option>
                    <option [ngValue]="SortOrder.PriceDesc">Højeste pris</option>
                </select>
                <select [(ngModel)]="materialSelected" (change)="searchFilteredProducts()" class="form-select mb-2" aria-label="Filter by material">
                    <option value="">Vælg Materiale</option>
                    <option *ngFor="let material of materials" [value]="material.name">{{material.name}}</option>
                </select>
                <select [(ngModel)]="colourSelected" (change)="searchFilteredProducts()" class="form-select mb-2" aria-label="Filter by colour">
                    <option value="">Vælg Farve</option>
                    <option *ngFor="let colour of colours" [value]="colour.name">{{colour.name}}</option>
                </select>
                <select [(ngModel)]="typeSelected" (change)="searchFilteredProducts()" class="form-select mb-2" aria-label="Filter by type">
                    <option value="">Vælg Type</option>
                    <option *ngFor="let type of types" [value]="type.name">{{type.name}}</option>
                </select>
                
                <select [(ngModel)]="conditionSelected" (change)="searchFilteredProducts()" class="form-select mb-2" aria-label="Filter by condition">
                    <option value="">Vælg Tilstand</option>
                    <option *ngFor="let condition of conditions" [value]="condition.name">{{condition.name}}</option>
                </select>
            </div>
                <div class="products-grid">
                    <div *ngFor="let product of filteredProducts">
                    <div class="product-card" [routerLink]="['/productDetail', product.id]">
                        <div class="product-image">
                            <img [src]="product.images[0] " [alt]="product.title" class="w-full h-auto rounded-lg shadow-lg"> 
                        </div>
                        <div class="product-card-details">
                            <div class="product-title">{{product.title}}</div>
                            <div>Pris: {{product.price}}</div>
                            <div>Beskrivelse: {{product.description}}</div>
                            <div>Materiale: {{product.material}}</div>
                            <div>Farve: {{product.colour}}</div>
                            <div>Dypde:{{product.depth}}</div>
                            <div>Højde: {{product.height}}</div>
                            <div>Bredde: {{product.width}}</div>
                            <div>Type: {{product.type}}</div>
                            <div>Kategori: {{product.category}}</div>
                            <div>Ny eller brugt: {{product.condition}}</div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

