<div class="container my-4">
    <div>
        <div>
            <h1>Alle produkter</h1>
        </div>
        <div class="row mb-4">
            <div class="search-bar">
                <input type="text" class="form-control" placeholder="Søg efter produkter..." aria-label="Search"/>
                <button class="btn btn-primary">Søg</button>
            </div>
            <div class="layout">
            <div class="filters-sidebar"> 
            <button [routerLink]="['/productMaking']">Opret dit produkt</button>
                <select class="form-select mb-2" aria-label="Filter by category">
                    <option selected>Vælg kategori</option>
                    <option value="1">Sofaer</option>
                    <option value="2">Stole</option>
                    <option value="3">Borde</option>
                </select>
                <select [(ngModel)]="sortSelected" (change)="sortTheProducts()" class="form-select mb-2" aria-label="Filter by price">
                    <option [ngValue]="SortOrder.None">Vælg pris</option>
                    <option [ngValue]="SortOrder.PriceAsc">Laveste pris</option>
                    <option [ngValue]="SortOrder.PriceDesc">Højeste pris</option>
                </select>
                <select [(ngModel)]="selectedMaterialId" (change)="filterProducts()" class="form-select mb-2" aria-label="Filter by material">
                    <option value="" disabled selected>Vælg Materiale</option>
                    <option *ngFor="let material of materials" [value]="material.id">{{material.name}}</option>
                </select>
                <select [(ngModel)]="sortSelected" (change)="sortTheProducts()" class="form-select mb-2" aria-label="Filter by colour">
                    <option value="" disabled selected>Vælg Farve</option>
                    <option *ngFor="let colour of colours" [value]="colour.id">{{colour.name}}</option>

                </select>
                <select [(ngModel)]="sortSelected" (change)="sortTheProducts()" class="form-select mb-2" aria-label="Filter by size">
                    <option [ngValue]="SortOrder.None">Vælg Størrelse</option>
                    <option [ngValue]="SortOrder.SizeAsc">1-personers</option>
                    <option [ngValue]="SortOrder.SizeDesc">2-personers</option>
                </select>
                <select [(ngModel)]="sortSelected" (change)="sortTheProducts()" class="form-select mb-2" aria-label="Filter by type">
                    <option value="" disabled selected>Vælg Type</option>
                    <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
                </select>
                <select [(ngModel)]="sortSelected" (change)="sortTheProducts()" class="form-select mb-2" aria-label="Filter by condition">
                    <option value="" disabled selected>Vælg Tilstand</option>
                    <option *ngFor="let condition of conditions" [value]="condition.id">{{condition.name}}</option>
                </select>
            </div>
                <div class="products-grid">
                    <div *ngFor="let product of products">
                    <div class="product-card" [routerLink]="['/productDetail', product.id]">
                        <div class="product-image">
                            <img [src]="product.images || 'assets/images/DummySofa.png'" [alt]="product.title" class="w-full h-auto rounded-lg shadow-lg"> 
                        </div>
                        <div class="product-card-details">
                            <div class="product-title">{{product.title}}</div>
                            <div>Pris: {{product.price}}</div>
                            <div>Beskrivelse: {{product.description}}</div>
                            <div>Materiale: {{product.material}}</div>
                            <div>Farve: {{product.colour}}</div>
                            <div>Størrelse: {{product.size}}</div>
                            <div>Type: {{product.type}}</div>
                            <div>Ny eller brugt: {{product.condition}}</div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

