<div class="container my-4">
    <div>
        <div>
            <h1>Alle produkter</h1>
        </div>
        <div class="row mb-4">
            <div class="search-bar">
                <input type="text" class="form-control" placeholder="Søg efter produkter..." aria-label="Search"/>
                <button class="btn btn-primary">Søg</button>
            </div>
            <div class="layout">
            <div class="filters-sidebar"> <!-- Dummy data skal skiftes ud -->
            <button>Opret dit produkt</button><!--Change after merge with DB to *ngIf-->
                <select class="form-select mb-2" aria-label="Filter by category">
                    <option selected>Vælg kategori</option>
                    <option value="1">Sofaer</option>
                    <option value="2">Stole</option>
                    <option value="3">Borde</option>
                </select>
                <select [(ngModel)]="sortSelected" (change)="sortTheProducts()" class="form-select mb-2" aria-label="Filter by price">
                    <option [ngValue]="SortOrder.None">Vælg pris</option>
                    <option [ngValue]="SortOrder.PriceAsc">Laveste pris</option>
                    <option [ngValue]="SortOrder.PriceDesc">Højeste pris</option>
                </select>
                <select [(ngModel)]="sortSelected" (change)="sortTheProducts()" class="form-select mb-2" aria-label="Filter by material">
                    <option [ngValue]="SortOrder.None">Vælg Materiale</option>
                    <option [ngValue]="SortOrder.MaterialAsc">Læder</option>
                    <option [ngValue]="SortOrder.MaterialDesc">Polyester</option>
                    <option [ngValue]="SortOrder.MaterialDesc">Stof</option>
                    <option [ngValue]="SortOrder.MaterialDesc">Træ</option>
                </select>
                <select [(ngModel)]="sortSelected" (change)="sortTheProducts()" class="form-select mb-2" aria-label="Filter by colour">
                    <option [ngValue]="SortOrder.None">Vælg Farve</option>
                    <option [ngValue]="SortOrder.ColourAsc">Sort</option>
                    <option [ngValue]="SortOrder.ColourDesc">Hvid</option>
                    <option [ngValue]="SortOrder.ColourDesc">Grå</option>
                    <option [ngValue]="SortOrder.ColourDesc">Blå</option>
                    <option [ngValue]="SortOrder.ColourDesc">Rød</option>
                    <option [ngValue]="SortOrder.ColourDesc">Grøn</option>
                    <option [ngValue]="SortOrder.ColourDesc">Brun</option>
                    <option [ngValue]="SortOrder.ColourDesc">Gul</option>
                    <option [ngValue]="SortOrder.ColourDesc">Orange</option>
                    <option [ngValue]="SortOrder.ColourDesc">Lilla</option>
                </select>
                <select [(ngModel)]="sortSelected" (change)="sortTheProducts()" class="form-select mb-2" aria-label="Filter by size">
                    <option [ngValue]="SortOrder.None">Vælg Størrelse</option>
                    <option [ngValue]="SortOrder.SizeAsc">1-personers</option>
                    <option [ngValue]="SortOrder.SizeDesc">2-personers</option>
                    <option [ngValue]="SortOrder.SizeDesc">3-personers</option>
                    <option [ngValue]="SortOrder.SizeDesc">4-personers</option>
                    <option [ngValue]="SortOrder.SizeDesc">5-personers</option>
                    <option [ngValue]="SortOrder.SizeDesc">6-personers</option>
                    <option [ngValue]="SortOrder.SizeDesc">7-personers</option>
                    <option [ngValue]="SortOrder.SizeDesc">8-personers</option>
                </select>
                <select [(ngModel)]="sortSelected" (change)="sortTheProducts()" class="form-select mb-2" aria-label="Filter by type">
                    <option [ngValue]="SortOrder.None">Vælg Type</option>
                    <option [ngValue]="SortOrder.TypeAsc">Hjørne</option>
                    <option [ngValue]="SortOrder.TypeDesc">Chaiselong</option>
                    <option [ngValue]="SortOrder.TypeDesc">Modulsofa</option>
                    <option [ngValue]="SortOrder.TypeDesc">Sovesofa</option>
                    <option [ngValue]="SortOrder.TypeDesc">Lædersofa</option>
                    <option [ngValue]="SortOrder.TypeDesc">Stofsofa</option>
                </select>
                <select [(ngModel)]="sortSelected" (change)="sortTheProducts()" class="form-select mb-2" aria-label="Filter by condition">
                    <option [ngValue]="SortOrder.None">Vælg Tilstand</option>
                    <option [ngValue]="SortOrder.ConditionAsc">Ny</option>
                    <option [ngValue]="SortOrder.ConditionDesc">Brugt</option>
                </select>
            </div>
            
                <div class="products-grid"> <!-- Dummy data skal skiftes ud -->
                    <div class="product-card">
                        <div class="product-image">
                            <img src="assets/images/DummySofa.png" alt="Sofa 1" class="w-full h-auto rounded-lg shadow-lg"> 
                        </div>
                        <div class="product-card-details">
                            <div class="product-title">Sofa model</div>
                            <div>Pris</div>
                            <div>Beskrivelse: En komfortabel sofa med moderne design.</div>
                            <div>Materiale: Læder</div>
                            <div>Farve: Grå</div>
                            <div>Størrelse: 3-personers</div>
                            <div>Type: Hjørne</div>
                            <div>Ny eller brugt: Ny</div>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-image">
                            <img src="assets/images/DummySofa.png" alt="Sofa 1" class="w-full h-auto rounded-lg shadow-lg"> 
                        </div>
                        <div class="product-card-details">
                            <div class="product-title">Sofa model</div>
                            <div>Pris</div>
                            <div>Beskrivelse: En komfortabel sofa med moderne design.</div>
                            <div>Materiale: Læder</div>
                            <div>Farve: Grå</div>
                            <div>Størrelse: 3-personers</div>
                            <div>Type: Hjørne</div>
                            <div>Ny eller brugt: Ny</div>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-image">
                            <img src="assets/images/DummySofa.png" alt="Sofa 1" class="w-full h-auto rounded-lg shadow-lg"> 
                        </div>
                        <div class="product-card-details">
                            <div class="product-title">Sofa model</div>
                            <div>Pris</div>
                            <div>Beskrivelse: En komfortabel sofa med moderne design.</div>
                            <div>Materiale: Læder</div>
                            <div>Farve: Grå</div>
                            <div>Størrelse: 3-personers</div>
                            <div>Type: Hjørne</div>
                            <div>Ny eller brugt: Ny</div>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>

