<div class="container mx-auto p2">
    <section class="product-section my-4">
        <h2 class="text-4x1 text-center font-semibold mb-4">Fremstående sofaer</h2>
        <div class="products-container p4">
            <div class="product-carousel">

                <div class="product-card" *ngFor="let product of featuredProducts">
                    <div [routerLink]="['/productDetail', product.id]" >
                        <div class="product-image">
                          <div style="max-height: 227px; overflow: hidden; padding-bottom: 20px">
                            <img [src]="product.image_url || 'assets/images/DummySofa.png'" style="max-height: 227px" alt="Sofa 1" class="w-full h-auto rounded-lg shadow-lg">
                          </div>
                        </div>
                        <div>
                          <div class="product-title">{{product.title}}</div>
                          <div>Pris: {{product.price}}</div>
                          <div>Beskrivelse: {{product.description}}</div>
                          <div>Ny eller brugt: {{product.condition}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
