<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fuild">
        <a class="navbar-brand" href="#">Sofa-Dealeren</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="products">Produkter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="profile">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="basket">Kurv</a>
                </li>
            </ul>
        </div>
    </div>
</nav>