<div class="container mx-auto p2">
    <header class="text-align:center; my-4">
        <h1 class="display-4 font-seize:120px; mb-4 drop-shadow-lg">SOFA-DEALEREN</h1>
    </header>

    <section class="product-section my-4">
        <h2 class="text-4x1 text-center font-semibold mb-4">Fremstående sofaer</h2>
        <div class="products-container p4">
            <div class="product-carousel">
                <div class="product-card">
                    <div class="product-image">
                    <img src="assets/images/DummySofa.png" alt="Sofa 1" class="w-full h-auto rounded-lg shadow-lg">
                    </div>
                    <div>
                      <h3>Sofa Model 1</h3>
                        <p>Pris</p> 
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                    <img src="assets/images/DummySofa.png" alt="Sofa 2" class="w-full h-auto rounded-lg shadow-lg">
                    </div>
                    <h3>Sofa Model 2</h3>
                    <p>Pris</p>
                </div>
                <div class="product-card">
                    <div class="product-image">
                    <img src="assets/images/DummySofa.png" alt="Sofa 3" class="w-full h-auto rounded-lg shadow-lg">
                    </div>
                    <h3>Sofa Model 3</h3>
                    <p>Pris</p>
                </div>
            </div>
        </div>
    </section>


</div>